@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif;
}

/*.auth {
	background: url('../assets/background.png') !important;
	background-size: cover !important;
}*/

.app-title {
	font-family: "Playwrite DK Uloopet", cursive !important;
}